.main{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85vh;
    gap: 2rem;
    /* justify-content: center; */
    background-color: wheat;
    border-top: 0.2rem solid #F6F6F9;
    border-left: 0.2rem solid #F6F6F9;
}